.btn{
    border:none;
    outline:none;
    font-weight:700;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}